@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>We hope you like pizza. That's what we make here.</p>
</div>

<style>
  input:optional{
    border-color: #ccc;
  }
  input:required{
    border-color: mediumblue;
  }
  div.button {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: lightgray;
    text-align: center;
    padding: 10px;
    margin: 50px;
  }
</style>


<h2 class="display-6">Join our mailing list</h2>
<p>Sign up to hear about all our special offers!</p>

<form name="CustomerInfo">
  <div class="container w-50 p-3">
    <div class="row">
      <div class="col-4">
        <label for="FirstName">First Name</label>
      </div>
      <div class="col-8">
        <input type="text" id="FirstName" required>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="LastName">Last Name</label>
      </div>
      <div class="col-8">
        <input type="text" id="LastName" required>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="Phone">Phone</label>
      </div>
      <div class="col-8">
        <input type="tel" id="Phone">
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="Birthday">Birthday</label>
      </div>
      <div class="col-8">
        <input type="date" id="Birthday">
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="E-mail">Email Address</label>
      </div>
      <div class="col-8">
        <input type="email" id="E-mail" required>
      </div>
    </div>
    <div class="button">
      <input type="submit" class="btn btn-primary">
    </div>
  </div>
</form>

<h2>All about our wonderful pizza!</h2>
<p class="bg-light">We make it fresh every day, sometimes up to two or three times a day!<br><br>
We love to make pizza!
</p>

<div class="text-center">
  <img alt="" width="120" src="data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M.226 112L36.2.2c60 
16 74 49 81 84z' fill='%23ea8'/%3e%3cpath d='M.197 112L31 14C84 29 96 57 103 88z' fill='%23fea' /%3e%3c/svg%3e">
</div>

<h2>We take your privacy seriously!</h2>
<p class="bg-light">Unlike other pizza restaurants that share your pizza preferences, we care about your privacy.<br><br>
View our <a href="/Privacy">privacy policy</a> for more information.
</p>

<p style="font-size: 30px"><b>Delivery options</b></p>
<p class="bg-light">There are a few ways we can get the pizza to you:<br>
  - Postal mail<br>
  - Dog sled<br>
  - Drone (experimental!)
</p>